/*
    Estilo principal
    -Color de fondo
    -Color dominante. 
    -colo letra primario, segundario, terciario y opcional.
    -tipo de letra.
    -tamaño letra: letra primario, segundario, terciario y opcional.
*/

* {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: 'Agenci', sans-serif;
}
@font-face{
    font-family:'Agenci';
    src: local('Agenci'),
         url('../fonts/Roboto-Light.ttf') format('truetype');
}
.ColorFondo{
    background-color: #FFF;
}
.ColorDominante{
    background-color: #F4511E;
}
.col-primary{
    color: #333;
}
.col-seg{
    color: #222;
}
.col-ter{
    color: #fff;
}
.col-min{
   color:#F4511E;
}
.Jum-primary{
    font-size: 22px;
}
.full-primary{
    font-size: 18px;
}
.let-primary{
    font-size: 14px;
}
.let-seg{
    font-size: 12px;
}
.let-ter{
    font-size: 10px;
}
.let-min{
    font-size: 8px;
}
.bg-bold{
    font-weight: bold;
}
.brd-r{
    border-right: 1px solid #ccc;
}

/*listas y formularios*/

li.btn-inmenu:active{
    background-color: rgba(244, 81, 30, 0.2);
    color: white;
    font-weight: bold;
}
li.btn-inmenun:active{
    background-color: rgba(244, 81, 30, 0.2);
    color: #333;
    font-weight: bold;
}
li.btn-inmenur:active{
    background-color: rgba(244, 81, 30, 0.2);
    color: #F4511E;
    font-weight: bold;
}

#Search{
    background-color: #F4511E;
}

/* bordes */
.bord{
    border: 1px solid #bbb;
}
.nick-u:focus {
    outline: 0;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #AAB7B8;
    box-shadow: 2px 2px #eee;
	border-color: #ccc;
}
.mail-u:focus {
    outline: 0;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #AAB7B8;
    box-shadow: 2px 2px #eee;
	border-color: #ccc;
}
.asun:focus {
    outline: 0;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #AAB7B8;
    box-shadow: 2px 2px #eee;
	border-color: #ccc;
}
.descric:focus {
    outline: 0;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #AAB7B8;
    box-shadow: 2px 2px #eee;
	border-color: #ccc;
}
.pass-r:focus {
    outline: 0;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #AAB7B8;
    box-shadow: 2px 2px #eee;
	border-color: #ccc;
}
.motiv-r:focus {
    outline: 0;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #AAB7B8;
    box-shadow: 2px 2px #eee;
	border-color: #ccc;
}
.passk-u:focus {
    outline: 0;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #AAB7B8;
    box-shadow: 2px 2px #eee;
	border-color: #ccc;
}
.nick-u:focus {
    outline: 0;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #AAB7B8;
    box-shadow: 2px 2px #eee;
	border-color: #ccc;
}
.nomb-u:focus {
   outline: 0;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #AAB7B8;
    box-shadow: 2px 2px #eee;
	border-color: #ccc;
}
.apell-u:focus {
    outline: 0;
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid #AAB7B8;
    box-shadow: 2px 2px #eee;
	border-color: #ccc;
}
.list-me:active {
    background-color: rgba(215, 219, 221, 0.6);
    font-weight: bold;
}
.list-met:active {
    background-color: rgba(215, 219, 221, 0.6);
    font-weight: bold;
}
